
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  
}

.link{
color: black;
text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #11302e;
    color: #fff;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav h3 {
    font-size: 24px;
}

.nav__menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav__menu li {
    font-size: 0.9rem;
}

.category {
    background-color: #fff;
    padding: 15px;
    margin: 20px auto; 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width:auto; 
    text-align: center; 
}

.category__icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.category h5 {
    font-size: 18px;
    margin: 10px 0;
}

.category p {
    font-size: 14px;
    color: #666;
}


#open-mnu-btn, #close-mnu-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #11302e;
        padding: 15px 0;
    }

    .nav__menu li {
        font-size: 0;
        margin-bottom: 10px;
    }

    #open-mnu-btn {
        display: block;
    }

    #close-mnu-btn {
        display: block;
    }
}
